{% load static %}
<!doctype html>
<html>
    <head>
        <title>

        </title>

    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Create a new list</h1>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Submit</button>
                </form>
        </main>
        <footer>
        </footer>
    </body>
</html>
