{% load static %}
<!doctype html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <h1>Are you sure?</h1>
            <form method="post">
                {% csrf_token %}
                <button>Delete</button>
             </form>
        </main>
        <footer>
        </footer>
    </body>
</html>
