{% load static %}
<!doctype html>
<html lang="en">
    <head>
    </head>
    <body>
        <header>
            <nav>
            </nav>
        </header>
        <main>
            <div>
                <h1>{{ list.name }}</h1>
                <p><a href="{% url 'todo_list_update' list.id %}">Edit</a></p>
                <p><a href="{% url 'todo_list_delete' list.id %}">Delete</a></p>
                <table>
                    <tr><th>Task</th><th>Due date</th>
                        <tbody>
                          {% for item in items.all %}
                            <tr>
                                <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                                <td>{{ item.due_date|date:"M. d, Y" }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                </table>
        </main>
        <footer>
        </footer>
    </body>
</html>
