{% load static %}
<!doctype html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <h1>Update List</h1>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>
                </form>
        </main>
        <footer>
        </footer>
    </body>
</html>
